.news_block {
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

.news_form_block {
	margin-bottom: 10px;
}

.news_tab {
	margin-left: 20px;
}

.news_title {
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 20px;
}

.news_label {
	font-weight: bold;
}

.news_text {

}

.news_category_title {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
}

.news_category {
	font-size: 80%;
	font-style: italic;
	font-weight: bold;
}

.news_date {
	/*float: right;*/
	font-size: 60%;
	font-style: italic;
}

.news_add {
	float: right;
}

.news_icon {
	width: 20px;
	float: right;
	margin-left: 7px;
}