.news_block {
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

.news_tab {
	margin-left: 20px;
}

.news_title {
	font-size: /*110*/%;
	font-weight: bold;
}

.news_text {

}

.news_category_title {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
}

.news_category {
	font-size: 80%;
	font-style: italic;
	font-weight: bold;
}

.news_date {
	/*float: right;*/
	font-size: 60%;
	font-style: italic;
}